
BepInEx_x64_5.4.4.0.zip
bin/Debug/net5.0/H3VRModInstaller.dll
bin/Debug/net5.0/H3VRModInstaller.pdb
bin/Debug/net5.0/ref/H3VRModInstaller.dll
obj/Debug/net5.0/H3VRModInstaller.dll
obj/Debug/net5.0/H3VRModInstaller.pdb
obj/Debug/net5.0/ref/H3VRModInstaller.dll
WurstMod.deli
BepInEx_x64_5.4.4.0.zip
bin/Debug/net5.0/H3VRModInstaller.dll
bin/Debug/net5.0/H3VRModInstaller.pdb
bin/Debug/net5.0/ref/H3VRModInstaller.dll
obj/Debug/net5.0/H3VRModInstaller.dll
obj/Debug/net5.0/H3VRModInstaller.pdb
obj/Debug/net5.0/ref/H3VRModInstaller.dll
WurstMod.deli
